<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.828874626802-52grfp7ivrna3tkh8bd5c0uphjc3ihu6</string>
			</array>
		</dict>
	</array>
        <key>LSApplicationQueriesSchemes</key>
        <array>
                <string>venmo</string>
        </array>
        <key>CFBundleDisplayName</key>
        <string>AJA</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>This app requires photo library access to select and upload media.</string>
        <key>NSCameraUsageDescription</key>
        <string>This app requires camera access to capture photos and videos.</string>
        <key>NSFaceIDUsageDescription</key>
        <string>This app uses Face ID for secure authentication.</string>
        <key>UIBackgroundModes</key>
        <array>
                <string>remote-notification</string>
        </array>
</dict>
</plist>
